<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Training Enrollment Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>trainingServices</display-name>
    <servlet-name>trainingServices</servlet-name>
    <servlet-class>com.tea.service.trainingServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trainingServices</servlet-name>
    <url-pattern>/trainingServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainingServices</display-name>
    <servlet-name>TrainingServices</servlet-name>
    <servlet-class>com.tea.service.TrainingServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainingServices</servlet-name>
    <url-pattern>/TrainingServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTraining</display-name>
    <servlet-name>GetTraining</servlet-name>
    <servlet-class>com.tea.service.GetTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTraining</servlet-name>
    <url-pattern>/GetTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetTraining</display-name>
    <servlet-name>SetTraining</servlet-name>
    <servlet-class>com.tea.service.SetTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetTraining</servlet-name>
    <url-pattern>/SetTraining</url-pattern>
  </servlet-mapping>
</web-app>